
.login {
    background-image: url('../../../assets/images/banner.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 109px; 
}
.login .login-header h4{
    font-weight: 500;
    color: #6c5ffc;
    font-size: 29px;
}

.login .login-header span {
    font-weight: 300;
    color: #c5c5c5;
}

.register .MuiInputBase-input {
    height: 17px !important;
    font-size: 14px;
}

@media (max-width: 575.98px) { 
    .login {
        padding:15px 0;
    }
    .register {
        background-size: cover !important;
        padding: 30px !important;
    }
}
/* @media (max-width: 767.98px) { ... }
@media (max-width: 991.98px) { ... }
@media (max-width: 1199.98px) { ... }
@media (max-width: 1399.98px) { ... } */
