.flight-flag {
    width: 40px;
    height: max-content;
    margin-right: 10px;
}
.flightname {
    font-size: 15px;
    font-weight: 600;
}
.flightnumber {
    font-size: 11px;
    color: #848f91;
    padding-left: 8px;
    font-weight: 500;
}

.coltime {
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.graysmalltext {
    font-size: 13px;
    color: #848f91;
    font-weight: 500;
}
.nostops {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    text-align: center;
    margin-bottom: 2px;
}

.pricelisttable .pricelistright {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}
.pricelisttable .label-warning {
    box-sizing: border-box;
    padding: 1px 5px;
    border-radius: 0;
    display: inherit;
    background: #f3e6bb;
    color: #876e1e;
    float: left;
    font-size: 10px;
    border-radius: 2px;
    margin-right: 5px;
}
.pricelisttable .label--text {
    box-sizing: border-box;
    padding: 0px 5px;
    border-radius: 0;
    display: inherit;
    color: #666666;
    float: left;
    font-size: 10px;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 11px;
}
.pricelisttable  .rdable {
    color: #009900;
}
.pricelisttable .sharechek {
    font-size: 12px;
    line-height: 21px;
    padding-top: 0px;
    display: flex;
    padding-left: 18px;
    align-items: center;
    color: #009900;
}
.pricelisttable .sharechek .sck {
    width: 14px !important;
    height: 16px !important;
    margin-right: 5px;
}
.pricelisttable .ymessage {
    background-color: #FBF6CA;
    padding: 4px;
    margin: 7px 0px;
    text-align: center;
    border-radius: 4px;
    color: #000;
}
.pricelisttable .morefrebt {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #6c5ffc !Important;
    border: 1px solid #6c5ffc;
    border-radius: 20px;
    padding: 3px 10px;
    text-decoration: none;
    margin-top: 5px;
    float: left;
    cursor: pointer;
}


.sharefooterbox {
    width: 430px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: #FFFFFF;
    z-index: 999;
    box-shadow: 0px 0px 100px #000000a1;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    font-size: 13px;
    /* display: none; */
}
.sharefooterbox .heading {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    background-color: #eee;
    padding: 5px 10px;
    position: relative;
    border-radius: 4px;
}
.sharefooterbox .loadshareflightbox {
    max-height: 265px;
    overflow: auto;
}


.animated-box {
    height: 100px; /* Set initial height */
    overflow: hidden; /* Hide content that overflows the box */
    transition: height 0.5s ease; /* Transition property and duration for height */
  }
  
.animated-box.active {
    height: 200px; /* Set target height */
}
.flight-search-calouter {
    padding: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #8c8c8c;
    margin: 3px 0px 5px;
    border-radius: 4px;
    width: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flight-search-calouter .btn {
    border-radius: 0px !important;
    font-weight: 500;
    font-size: 15px;
}
.flight-search-calouter label {
    top: 0;
    left: 0;
}
.flight-search-calouter  .btn-check:checked + .btn {
    background-color: #e52b30;
    color: #fff;
}
.flight-item-flight-moodal .nav-pills .nav-link.active, .flight-item-flight-moodal .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #6c5ffc !important;
}
.flight-item-flight-moodal .nav-pills .nav-link {
    color: #464647;
}

/****Flight-Fillter****/

.btn-check:checked + .btn-outline-light {
    background: #e8e8e8 !important;
    text-align: center;
    color: #666666;
    border-color: #bab8bb !important;
}
.btn-outline-light {
    border: 1px  solid #bab8bb;
    font-weight: 500;
    font-size: 12px;
}

 .btn-outline-light:hover, .btn-check + .btn.btn-outline-light:hover {
    border-color: #bab8bb !important;
 }
 .border-md-0 {
    border: none;
 }
 
@media (max-width: 1000px) { 
    .flight-flag {
        width: 30px !important;
    }
    .flightname {
        font-size: 12px !important;
    }
    .flightnumber {
        font-size: 9px !important;
    }
    .coltime {
        font-size: 12px !important;
    }
    .graysmalltext {
        font-size: 11px !important;
    }
    .nostops {
        font-size: 11px !important;
    }
    .flight-search-calouter {
        white-space: pre-line;
        overflow: auto;
        padding: 7px !important;
    }
    .flight-search-calouter .btn-group {
        width: 100%;
    }

    .flight-search-calouter .btn{
        white-space: pre;
    }
}

/****Flight-Fillter****/