.hotelbt-bar{
    margin-top: 50px;
}
.hoteldetails .heading{
    font-size: 35px;
    font-weight: 700;
    color: #474747;
    margin-right: 10px;
}
.hoteldetails  .htdtl_address{
    margin-top: 5px;
    color: #666666;
    font-size: 13px;
}
.hoteldetails .star-icon i{
    color: #FF9900;
    padding: 0 3px;
    padding-bottom:15px ;
}
.hoteldetails .para{
    color: #474747;
}
.hoteldetails .hldlpr-main{
    background-color: #f8f8f8;
    width: 251px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px 0;
}
.hoteldetails .hldlpr-main .hldlpr-main1{
    width: 60%;
    
}
.hoteldetails .hldlpr-main .hldlpr-main2{
    width: 35%;
}
.hoteldetails .hldlpr-main .hldlpr-main2 .hldetail-price{
    font-size: 20px;
    margin-left: 17px;

}
.hoteldetails .hldetail-para{
    font-size: 14px;
}
.hoteldetails .readmorebtn{
    margin-left: 10px;
}

.hoteldetails  .tabel-heading{
    background-color: #cbc9c9 !important;
    color: #474747;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    border-right: 1px solid white;
}
.hoteldetails .cancelpolice{
   background-color: #e2e2e2 !important;
   border: none;
   color: black !important;
   border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
}
.hoteldetails .hRefundable{
   color: green !important;
   background-color: transparent;
   font-size: 14px;
   font-family: 700;
   border: none;
   outline: none;
   background-color: transparent !important;
}
.hoteldetails .amboxht {
    float: left;
    margin: 0px 20px 20px 0px;
    text-align: center;
    width: auto;
    background-color: #e1fff6;
    /* padding: 5px 10px; */
    border-radius: 5px;
    width: 23%;
    font-size: 14px;
}

@media(max-width :1199px){
    .hoteldetails .hldetail-para{
        font-size: 12px;
    }
    .hoteldetails .hldlpr-main .hldlpr-main2 .hldetail-price{
        font-size: 19px;
    }
}
@media(max-width :1024px){
    .refundabtable{
        width: 1200px;
    }
    .hoteldetails .hldetail-para{
        font-size: 11px;
    }
    .hoteldetails .hldetail-price{
        font-size: 15px !important;
    }
    .hoteldetails .hldlpr-main{
        width: 210px;
    }
}
@media(max-width :991px){
.hoteldetails .tabel-heading{
    display: none;
}
.hoteldetails .htdtltbtop{
    background-color: #fff3cd;
    border-top: 5px solid #f9a42c !important;
}
.hoteldetails .htdtlmb{
    margin-bottom: 12px;
    border: 2px solid orange;
}

.hoteldetails .hldlpr-main{
    width: 100%;
}
.hoteldetails .hldlpr-main .hldlpr-main1{
    width: 20%;
}
.hoteldetails .hldlpr-main .hldlpr-main2{
    width: 80%;
}
.hoteldetails .dlimghide{
    display: none;
}
.hoteldetails .hldlpr-main .hldlpr-main1{
    width: 20%; 
}
.hoteldetails .hldlpr-main .hldlpr-main2{
    width: 80%;
}
}
@media(max-width :768px){
   
    .hoteldetails .hldlpr-main .hldlpr-main1{
        width: 25%; 
    }
    .hoteldetails .hldlpr-main .hldlpr-main2{
        width: 75%;
    }
   
    
    .hoteldetails .amboxht{
        margin: 0px 10px 10px 0px;
        width: auto;
        padding: 6px;
    }
}
@media(max-width :520px){
    .hoteldetails .hldlpr-main .hldlpr-main1{
        width: 28%; 
    }
    .hoteldetails .hldlpr-main .hldlpr-main2{
        width: 68%;
    }
}
@media(max-width :437px){
    .hoteldetails .hldlpr-main .hldlpr-main1{
        width: 32%; 
    }
    .hoteldetails .hldlpr-main .hldlpr-main2{
        width: 68%;
    }
}
@media(max-width : 425px){
    .hoteldetails .hldlpr-main .hldlpr-main1{
        width: 39%; 
    }
    .hoteldetails .hldlpr-main .hldlpr-main2{
        width: 61%;
    }
} 
@media(max-width : 375px){
    .hoteldetails .hldlpr-main .hldlpr-main1{
        width: 40%;
        
    }
    .hoteldetails .hldlpr-main .hldlpr-main2{
        width: 60%;
    }
} 
@media(max-width : 320px){
    .hoteldetails .hldlpr-main .hldlpr-main1{
        width: 48%;
        
    }
    .hoteldetails .hldlpr-main .hldlpr-main2{
        width: 52%;
    }
} 


